<div class="container-fluid">
    <div class="row menu">
        <div class="col-12 col-md-3">
            <div class="card text-black bg-light">
                <!-- Hình nền trên desktop -->
                <img class="card-img-top d-none d-md-block" src="https://baotranshop1.files.wordpress.com/2018/08/bt_background.jpg" alt="Cửa hàng Bảo Trân">
                <!-- Hình nền mobile -->
                <img class="card-img-top d-sm-block d-md-none style-mobile" src="https://baotranshop1.files.wordpress.com/2018/08/bt_bgmobile.jpg" alt="Cửa Hàng Bảo Trân">
                <div class="card-body brand">
                    <h4 class="card-title text-center">T.phẩm Chức Năng
                    </h4>
                    <h1 class="card-title text-center">Bảo Trân</h1>
                    <h5 class="card-text text-center">
                        Chuyên cung cấp<br/> các mặt hàng cao cấp
                    </h5>
                    <!-- Danh mục sản phẩm -->
                    <h5 class="card-text">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#content_1">
                                    <i class="fa fa-shopping-bag" aria-hidden="true"></i> Yến Sào, Nước Yến,<br/> Đông Trùng Hạ Thảo.
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#content_2">
                                    <i class="fa fa-krw" aria-hidden="true"></i> Linh Chi Hàn Quốc.
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#content_3">
                                    <i class="fa fa-leaf" aria-hidden="true"></i> Nhân Sâm.
                                </a>
                            </li>
                        </ul>
                    </h5>
                </div>
            </div>
        </div>
        <!-- Carousel quảng cáo sản phẩm -->
        <div class="col-12 col-md-9" style="position: relative">
            <div id="bao_tran_carousel" class="carousel slide" data-ride="carousel">

                <!-- Indicator -->
                <ul class="carousel-indicators">
                    <li data-target="#bao_tran_carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#bao_tran_carousel" data-slide-to="1"></li>
                    <li data-target="#bao_tran_carousel" data-slide-to="2"></li>
                    <li data-target="#bao_tran_carousel" data-slide-to="3"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="carousel-img" src="/images/bt_yskhnc.jpg" alt="Yến Sào Khành Hòa">

                    </div>

                    <div class="carousel-item">
                        <img class="carousel-img" src="/images/bt_dtht.jpg" alt="Đông trùng hạ thảo">

                    </div>

                    <div class="carousel-item">
                        <img class="carousel-img" src="/images/bt_nlx.JPG" alt="Nấm Lim Xanh Trồng">

                    </div>

                    <div class="carousel-item">
                        <img class="carousel-img" src="/images/bt_nlxtn.JPG" alt="Nấm Lim Xanh Tự Nhiên">

                    </div>

                    <a class="carousel-control-prev" href="#bao_tran_carousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#bao_tran_carousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
