<div class="navbar-bg" id="footer">
    <p class="text-white" style="text-align: center">
        Cửa hàng Thực phẩm chức năng Bảo Trân<br/>
        Địa chỉ: 12 Phạm Đôn Phường 10 Quận 5 Tp.Hồ Chí Minh<br/>
        Điện thoại liên hệ (sỉ-lẻ): 0908.875.055
    </p>
</div>