<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sâm Nấm Yến Bảo Trân</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- đống script trên để head hoặc trên tag đóng body cũng đc ! -->
</head>

<body>